.checkoutproduct_price{
    display: flex;
    margin-top:25px;
}


.checkoutproduct> img{

    object-fit: contain;
    width: 180px;
    height: 250px;

}


.checkoutproduct_info{
    padding-left: 20px;
    
    
}

.checkoutproduct_rating{
    margin-top:15px;
    display: flex;
}

.checkoutproduct_info > button{

background:#f0c14b ;
border: 1px solid;
margin-top: 30px;
border-color: #a88734 #9c7e31 #846a29;
color: #111;
}

.checkoutproduct_title{

    font-size: 17px;
    font-weight: 800;
    margin-top:30px;

}

.checkoutproduct{

    display: flex;
    
    object-fit: contain;
}